# Python
venv/
__pycache__/
*.pyc

# Sensitive Info (Cấm đẩy cái này lên!)
config/service_account.json
.env
ETL_SYSTEM_SUMMARY.md

# Local Database & Logs
airflow.db
airflow.cfg
logs/
checkpoint.json
